.navbar-default{
  margin: 0 !important;
}

.navbar-nav {
  font-size: 17px;
}

.navbar-default .nav-pills > li > a {
  background-color: rgb(171, 223, 195);
  color: rgb(83, 87, 85);
  font-weight: bold;
  font-size: 17px;
}

.navbar-default .nav-pills > li.active > a {
  background-color: rgb(223, 158, 190);
  color: rgb(83, 87, 85);
  font-weight: bold;
}

.jumbotron {
  background-image: url('/images/sweet/cupcake.jpg');
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
}

.second {
  background-image: url('/images/sweet/sprinkles.jpg');
  height: 295px;
}

h4 {
  font-weight: bold;
}

.info {
  text-align: center;
  background-color: #efefef;
  border-top: 1px solid #dbdbdb;
  padding: 30px;
}

.info h4 {
  font-size: 18px;
  font-weight: bold;
}

p{
  font-size: 17px;
}

p > a > img {
  margin-right: 10px;
}

a {
  color: #333;
}

.small {
  width: 132px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail img {
  height: 233px;
  width: 348px;
}

.typesoftreats {
  padding-bottom: 20px;
}

.nutrition {
  padding-bottom: 20px;
}

hr {
  border-top: 2px solid pink;
  border-bottom: 2px solid pink;
}
.underlined-heading {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.underlined-heading hr {
  width: 300px;
  border-top: 4px solid rgba(117, 226, 189, 0.73);
  border-bottom: 4px solid rgba(226, 56, 141, 0.33);
  margin-bottom: 30px;
  height: 6px;
}

.about img {
  height: 300px;
  width: 274px;
}

.story {
  background-color: rgba(252, 209, 216, 0.39);
  padding: 30px;
}

.left {
  text-align: left;
}

.team {
  padding: 30px;
}

.bottom {
  border-bottom: 4px dashed rgba(226, 56, 141, 0.33);
  padding-bottom: 5px;
  color: 4px solid rgba(117, 226, 189, 0.73);
}
