body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.navbar {
  margin: 0;
}

#bluebonnet {
  background-image: url('images/bluebonnet1.jpg');
  height: 450px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(64, 11, 115);
}

.alert{
  margin: 0;
  font-size: 19px;
  text-align: center;
}

.underlined-heading {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.mission {
  padding-bottom: 40px;
}

.board-members {
  background-color: #eee;
  padding: 40px;
}

.donors {
  padding: 40px;
}

ul {
  text-align: left;
}

.mission p {
  text-align: left;
}

h3 {
  color: rgb(64, 11, 115);
}

/*For dining in the dark page*/
#city {
  background-image: url('images/city.jpg');
  height: 450px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 33px 0;
}

#city h2 {
  font-size: 65px;
}

#city p {
  font-size: 26px;
}

.description {
  padding-bottom: 20px;
}

.col-md-6 .logo {
  padding: 20px;
}

.info {
  padding: 40px;
}

#date {
  padding: 40px;
  background-color: #eee;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

hr {
  border-top: 1px solid #B2AEAE;
}

.footer {
  background-color: #282828;
  text-align: center;
  border-top: 1px solid #dbdbdb;
  padding: 45px;
  color: white;
}

button {
  border: 2px solid rgb(199, 1, 1);
  background: #FF1D2E;
  color: white;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #EC1324;
}

button:active {
  background-color: #D21524;
}

a {
  text-decoration: none;
  outline: none;
}

p > a > img {
  margin-right: 10px;
}

#date a {
  color: blue;
}

.footer h4 {
  font-size: 18px;
  color: #B1C0D3;
  font-weight: bold;
}

button a:hover {
  text-decoration: none;
  color: white;
}

button a:visited {
  text-decoration: none;
  color: white;
}

button a:focus {
  text-decoration: none;
  color: white;
  outline: none;
}

.small a {
  color: white;
}
