body {
  font-size: 20px;
  text-align: center;
  font-family: 'Bitter', serif;
}

button {
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: rgb(26, 115, 58);
  text-decoration: none;
  background-color: #77DA7F;
  border-bottom: 5px solid #469D51;
}

#message {
  margin-top: 15px;
  font-weight: bold;
}

h1 {
  padding: 60px;
}
