body {
  text-align: center;
  font-family: 'Lora', serif;
  background-color: rgba(255, 255, 0, 0.35);
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;         
  flex-direction: column;
}

h1{
  margin-top: 15px;
  font-size: 30px;
}

#creepy {
  width: 200px;
  height: 150px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 2px;
  padding-right: 2px;
}

#container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 670px;
}

#wrapper {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex: 1;
}

#speech {
  margin-left: 33px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  width: 120px;
  font-weight: bold;
}

#egg {
  align: left;
  margin-top: auto;
}
