body {
  margin: 0;
  font-family: 'Bree Serif', serif;
}

#container {
  width: 100%;
  height: 100%;
}

#cupcake-container {
  width: 69%;
  height: 100%;
  position: absolute;
  background-color: rgb(209, 247, 234);
}

#cupcake {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  height: 240px;
}

#cupcake:hover {
  height: 255px;
  cursor: pointer;
}

#cupcake:active {
  height: 240px;
}

#counter {
  text-align: center;
  padding-top: 110px;
  font-size: 20px;
}

#shop-container {
  border-left: 12px solid white;
  float: right;
  width: 30%;
  height: 100%;
  background-color: rgb(231, 212, 224)
}

.item {
  height: 74px;
  margin-bottom: 5px;
  width: 344px;
  background-color: rgb(102, 44, 108);
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid rgb(177, 106, 184);
}

.item:hover {
  background-color: rgb(242, 142, 226);
  border: 6px solid rgb(211, 58, 192);
}

.item:hover .c {
  color: black;
}

.item:active {
  background-color: rgb(102, 44, 108);
  border: 6px solid rgb(177, 106, 184);
}

.icon {
  float: left;
}

h1 {
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 55px;
  margin-bottom: 5px;
}

h2 {
  margin: 0px;
  color: white;
}

.cost {
  width: 240px;
  margin-left: auto;
  height: inherit;
}

.c {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: rgb(210, 210, 211);
}

.c img {
  vertical-align: bottom;
}
