body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 35px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  margin-top: 50px;
}

#blocks-container {
  margin-top: 50px;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-wrap: wrap;
  justify-content: center;
}
.blocks {
  height: 100px;
  width: 100px;
}
