body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 35px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  margin-top: 50px;
  transition: color 0.5s;
}

#blocks-container {
  margin-top: 50px;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-wrap: wrap;
  justify-content: center;
}
.blocks {
  height: 100px;
  width: 100px;
}

/*Message page style*/

textarea {
  height: 200px;
  width: 1000px;
  font-size: 18px;
  border: 2px dashed black;
  display: inline-block;
  padding: 15px;
  resize: none;
  margin: 0 auto;
  display: block;
  transition: color 0.5s;
}

textarea:focus {
  outline: none;
}
